
* {
  margin: 0;
  padding: 0;
}
.input-box-serarch {
  width: 200px;
}
.row-nav {
  height: 60px;
  /* border: 1px solid rgb(26, 23, 23); */
  background-color: #6199ad;
}

.nav-link {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.btn-search {
  height: 63%;

  margin-top: 9px;
}

.card-body {
  background-color: #d2d9db;
}
.Nav-com{
  /* border: 2px solid black; */
  background-color: #6ead61;
}

